* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #181818;
  font-family: "Roboto", sans-serif;
  color: white;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
  background-color: #202020;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}
li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: white;
}
.navbar-left-ul {
  width: 169px;
  display: flex;
  align-items: center;
  margin-left: 24px;
  padding-top: 5px;
}
.bars {
  padding: 8px;
}
.navbar-youtube-icon {
  position: relative;
  top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 18px 14px 18px 14px;
}
.navbar-search-div {
  display: flex;
}
.search {
  background-color: #323232;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-search {
  font-size: 18px;
  color: rgb(197, 195, 195);
}
.fa-microphone {
  font-size: 17px;
}
.mic {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: #181818;
  border-radius: 50%;
  margin-left: 8px;
}
.input-search {
  display: flex;
  border: 1px solid #323232;
  border-radius: 2px;
}
input[type="text"] {
  width: 572px;
  height: 40px;
  background-color: #121212;
  border: none;
  padding: 1px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  z-index: 1;
}
input[type="text"]:focus {
  outline: thin solid #1c62b9;
}
.navbar-right-ul {
  width: 202px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-right: 22px;
}
.fa-video {
  font-size: 18px;
}
.fa-bell {
  font-size: 18px;
}
.fa-ellipsis-v {
  font-size: 18px;
}
#profile-icon {
  width: 32px;
  border-radius: 50%;
}
.fa-bars {
  font-size: 20px;
}
.navbar-left-ul img {
  width: 28px;
}
span {
  position: relative;
  top: -5px;
  font-family: "Oswald";
  font-weight: bold;
  font-size: 20px;
}
#ro {
  font-weight: normal;
  font-size: 10px;
  font-family: "Roboto";
  color: #aaaaaa;
  margin: -18px 0px 0px 1px;
}
main {
  border: 1px solid white;
  width: 90%;
  margin: 55px auto 0px auto;
  padding: 24px 0px 0px 0px;
  display: flex;
}
.main-video-section {
  border-bottom: 1px solid #323232;
}
h1 {
  font-weight: 400;
  padding-top: 20px;
}
ul {
  font-size: 14px;
  color: #aaaaaa;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 1px;
  display: flex;
}
li:nth-of-type(2) {
  list-style-type: disc;
  margin-left: 20px;
  text-indent: -6px;
}
.main-video-bottom-section {
  padding-bottom: 8px;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
}
.buttons-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}
.buttons-div a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.buttons-div span {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  position: relative;
  top: -2px;
}
.buttons-div i {
  font-size: 20px;
}
aside {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr repeat(10, 2fr);
  border: 1px solid white;
  width: 100%;
  margin-left: 20px;
}
.chat {
  grid-column: 1 / -1;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  border: 1px solid #323232;
  background-color: #202020;
}
.chat a {
  color: #ffffffb3;
  text-decoration: none;
}
.aside-buttons {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-evenly;
  height: 48px;
}
aside buttons {
  font-size: 14px;
  background-color: #2b2a2a;
  display: flex;
  align-items: center;
  padding: 0px 12px;
  height: 32px;
  border-radius: 25px;
  cursor: pointer;
  outline: thin solid #464545;
}
aside buttons:not(first):hover {
  background-color: rgb(61, 60, 60);
}
#all {
  background-color: white;
  color: black;
  outline: none;
}
