* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #181818;
  font-family: "Roboto";
  color: white;
}
nav {
  position: fixed;
  width: 100%;
  background: transparent;
  background-color: #202020;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}
li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: white;
}
.navbar-left-ul {
  width: 169px;
  display: flex;
  align-items: center;
  margin-left: 24px;
}
.bars {
  padding: 8px;
}
.navbar-youtube-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 18px 14px 18px 14px;
}
.navbar-search-div {
  display: flex;
}
.search {
  background-color: #323232;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-search {
  font-size: 18px;
  color: rgb(197, 195, 195);
}
.fa-microphone {
  font-size: 17px;
}
.mic {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: #181818;
  border-radius: 50%;
  margin-left: 8px;
}
.input-search {
  display: flex;
  border: 1px solid #323232;
  border-radius: 2px;
}
input[type="text"] {
  width: 572px;
  height: 40px;
  background-color: #121212;
  border: none;
  padding: 1px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  z-index: 1;
}
input[type="text"]:focus {
  outline: thin solid #1c62b9;
}
.navbar-right-ul {
  width: 202px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  margin-right: 22px;
}
.fa-video {
  font-size: 18px;
}
.fa-bell {
  font-size: 18px;
}
.fa-ellipsis-v {
  font-size: 18px;
}
#profile-icon {
  width: 32px;
  border-radius: 50%;
}
.fa-bars {
  font-size: 20px;
}
.navbar-left-ul img {
  width: 28px;
}
span {
  position: relative;
  top: -2px;
  font-family: "Oswald";
  font-weight: bold;
  font-size: 20px;
}
#ro {
  font-weight: normal;
  font-size: 10px;
  font-family: "Roboto";
  color: #aaaaaa;
  margin: -18px 0px 0px 1px;
}
