* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #181818;
  font-family: "Roboto", sans-serif;
  color: white;
}
/*Navbar*/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #202020;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}
/*Left navbar ul*/
.navbar-left-ul {
  width: 169px;
  display: flex;
  align-items: center;
  margin-left: 24px;
  padding-top: 5px;
}
.fa-bars {
  font-size: 20px;
}
.navbar-left-ul img {
  width: 28px;
}
span {
  position: relative;
  top: -3px;
  font-family: "Oswald";
  font-weight: bold;
  font-size: 20px;
}
#ro {
  font-weight: normal;
  font-size: 10px;
  font-family: "Roboto";
  color: #aaaaaa;
  margin: -18px 0px 0px 1px;
}
.bars {
  padding: 8px;
}
.navbar-youtube-icon {
  position: relative;
  top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 18px 14px 18px 14px;
}
li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: white;
}
/*Navbar search div*/
.navbar-search-div {
  display: flex;
}
.search {
  background-color: #323232;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-search {
  font-size: 18px;
  color: rgb(197, 195, 195);
}
.fa-microphone {
  font-size: 17px;
}
.mic {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: #181818;
  border-radius: 50%;
  margin-left: 8px;
}
.input-search {
  display: flex;
  border: 1px solid #323232;
  border-radius: 2px;
}
input[type="text"] {
  width: 572px;
  height: 40px;
  background-color: #121212;
  border: none;
  padding: 1px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  z-index: 1;
}
input[type="text"]:focus {
  outline: thin solid #1c62b9;
}
/*Right navbar ul*/
.navbar-right-ul {
  width: 202px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-right: 22px;
}
#small-search-icon {
  display: none;
}
.fa-video {
  font-size: 18px;
}
.fa-bell {
  font-size: 18px;
}
.fa-ellipsis-v {
  font-size: 18px;
}
#profile-icon {
  width: 32px;
  border-radius: 50%;
}
/*Main content*/
main {
  width: 90%;
  margin: 55px auto 0px auto;
  padding: 24px 0px 24px 0px;
  display: flex;
}
/*Main video*/
.main-video-section {
  border-bottom: 1px solid #323232;
}
h1 {
  font-weight: 400;
  padding-top: 20px;
}
.main-video-section ul {
  font-size: 14px;
  color: #aaaaaa;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 1px;
  display: flex;
}
li:nth-of-type(2) {
  list-style-type: disc;
  margin-left: 20px;
  text-indent: -6px;
}
.main-video-bottom-section {
  padding-bottom: 8px;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
}
.buttons-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}
.buttons-div a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.buttons-div span {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  position: relative;
  top: -2px;
}
.buttons-div i {
  font-size: 20px;
}
/*Aside*/
aside {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 30px 40px 1fr;
  column-gap: 8px;
  row-gap: 15px;
  width: 100%;
  margin-left: 20px;
}
.chat {
  grid-column: 1 / -1;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  border: 1px solid #323232;
  background-color: #202020;
}
.chat a {
  color: #ffffffb3;
  text-decoration: none;
}
.aside-buttons {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-evenly;
}
button {
  font-size: 14px;
  background-color: #2b2a2a;
  display: flex;
  align-items: center;
  padding: 0px 12px;
  height: 32px;
  border-radius: 25px;
  cursor: pointer;
  outline: thin solid #464545;
  border: none;
  color: white;
}
button:not(first, .subscribe):hover {
  background-color: rgb(61, 60, 60);
}
#all {
  background-color: white;
  color: black;
  outline: none;
  border: none;
}
.side-videos-description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.side-videos-description div {
  height: 94px;
}
h2 {
  font-size: 14px;
  line-height: 20px;
}
.side-videos-description a {
  color: white;
  text-decoration: none;
}
.side-videos-description p,
ul {
  font-size: 12px;
  color: #aaaaaa;
  display: flex;
}
.side-videos-description p {
  margin-top: 2px;
  margin-bottom: 5px;
}
/*Main video description*/
.description-section {
  border-bottom: 1px solid #323232;
}
.subscribe-div {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.author a {
  color: white;
  text-decoration: none;
}
.author-div {
  display: flex;
  gap: 15px;
}

h3 {
  font-size: 14px;
  margin-bottom: 5px;
}
.author-div p {
  font-size: 12px;
  color: #aaaaaa;
}
.author-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkorchid;
}
.author-div a {
  color: white;
  text-decoration: none;
}
.subscribe {
  background-color: #cc0000;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 16px;
  border-radius: 2px;
  border: none;
  width: 110px;
  height: 36px;
}
.video-description a {
  color: #3ea6ff;
  text-decoration: none;
}
.video-description ul {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: white;
  margin-top: 10px;
}
.video-description li {
  list-style-type: disc;
  margin-left: 80px;
  text-indent: -6px;
  line-height: 20px;
}
.video-description p {
  font-size: 12px;
  color: #aaaaaa;
  margin-top: 10px;
  margin-left: 65px;
  padding-bottom: 20px;
}
/*Comments section*/
.comments-section a {
  color: white;
  text-decoration: none;
}
.top-section {
  display: flex;
  gap: 15px;
  padding-top: 25px;
}
.total-comments {
  width: 122px;
}
.total-comments span {
  font-size: 16px;
  font-weight: normal;
}
.sort-by {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.sort-by span {
  font-size: 14px;
  letter-spacing: 1px;
}
.comment-input-div {
  height: 40px;
  display: flex;
  padding-top: 25px;
}
#profile-icon2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#comment {
  width: 100%;
  height: 25px;
  background-color: #181818;
  border-bottom: 1px solid #323232;
  font-size: 14px;
  margin-left: 20px;
  margin-bottom: 50px;
  padding: 0;
}
#comment:focus {
  outline: none;
  border-bottom: 2px solid white;
}
/*User comments*/
.users-comment-section {
  margin-top: 60px;
}
.comment {
  display: flex;
  margin-bottom: 20px;
}
.user {
  display: flex;
  flex-direction: column;
  line-height: 24px;
  margin-left: 20px;
}
.user-name,
.comment-text {
  font-weight: normal;
  letter-spacing: 1px;
}
.user-name {
  font-size: 14px;
  font-weight: 600;
}
.comment-text {
  font-size: 14px;
}
.like {
  font-size: 12px;
  color: #aaaaaa;
  margin-left: 5px;
  margin-right: 10px;
}
.reply {
  font-size: 12px;
  color: #aaaaaa;
  letter-spacing: 1px;
  margin-left: 20px;
}
i.fa-sort-down {
  position: relative;
  top: -6px;
}
.view-replies span {
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-left: 10px;
  font-weight: normal;
}
.view-replies span,
i.fa-sort-down {
  font-size: 14px;
  color: #3ea6ff;
}
.user-icons {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-icon1 {
  background-color: rgb(4, 211, 4);
}
.user-icon2 {
  background-color: deeppink;
}
.user-icon3 {
  background-color: rgb(2, 165, 165);
}
@media only screen and (max-width: 600px) {
  .fas {
    font-size: 15px;
  }
  .navbar-left-ul {
    margin-left: 10px;
  }
  .navbar-youtube-icon img {
    width: 25px;
  }
  .navbar-search-div {
    display: none;
  }
  .navbar-right-ul {
    gap: 15px;
    margin-right: -10px;
  }
  #small-search-icon {
    display: inline-block;
  }
  #main-video {
    width: 350px;
    height: 250px;
  }
  main {
    width: 95%;
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 18px;
  }
  .main-video-bottom-section {
    flex-direction: column;
    gap: 10px;
  }
  .buttons-div {
    width: 100%;
    margin-top: 10px;
    justify-content: flex-start;
    gap: 25px;
  }
  .buttons-div span {
    font-size: 10px;
  }
  .buttons-div .fas {
    font-size: 14px;
  }
  .subscribe {
    width: 80px;
    font-size: 10px;
    padding: 8px 10px;
  }
  aside {
    margin: auto;
  }
  h2 {
    font-size: 12px;
    line-height: 16px;
  }
  .side-videos-description {
    gap: 15px;
  }
  .side-videos iframe {
    margin-bottom: 10px;
  }
  .side-videos-description p,
  ul {
    font-size: 10px;
  }
  .sort-by .fa-bars {
    position: relative;
    top: -3px;
  }
  .video-description ul,
  p {
    font-size: 12px;
  }
}
